@model IEnumerable<Mybrary.Models.Author>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Biography)
        </th>
        <th>Actions</th>
    </tr>


    <tr data-bind="foreach: authors">
        <td data-bind="text: FirstName"></td>
        <td data-bind="text: LastName"></td>
        <td data-bind="text: Biography"></td>
        <td>
            <a data-bind="attr: { href: '@Url.Action("Details")/' + id }" class="btn btn-info">Details</a>|
            <a data-bind="attr: { href: '@Url.Action("Edit")/' + id }" class="btn btn-info">Edit</a> |
            <a data-bind="attr: { href: '@Url.Action("Delete")/' + id }" class="btn btn-info">Delete</a>
        </td>
    </tr>


</table>

<script src="~/Scripts/knockout-3.4.0.js"></script>
<script>
    function ViewModel(authors) {
        var self = this;

        self.authors = authors;
    };

    var viewModel = new ViewModel(@Html.HtmlConvertToJson(@Model));
    ko.applyBindings(viewModel);
</script>